@import '/app/mixins.scss';

.Header {
    background-color: var(--mainColor);
    height: 80px;
    width: calc(100% - 60px);
    border-radius: 20px;
    color: var(--secColor);
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include shadow;

    .burger {
        display: none;
        cursor: pointer;
        font-size: 24px;
    }

    .logo img {
        height: 50px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .desktopMenu {
            display: flex;
            align-items: center;

            .menuItem {
                margin-right: 1rem;

                a {
                    color: var(--secColor);
                    text-decoration: none;
                    font-size: 1.2rem;
                    width: 85px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 20px;
                    transition: background-color 0.2s ease-in, color 0.2s ease-in, transform 0.3s ease-in;
                }

                a:hover {
                    border-radius: 20px;
                    background-color: var(--midColor);
                    color: var(--mainColor);
                }

                .active {
                    background-color: var(--midColor);
                    color: var(--mainColor);
                }
            }
        }

        .mobileMenu {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: var(--mainColor);
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            padding: 10px 0;
            border-radius: 0 0 20px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;

            .menuItem {
                margin: 0.5rem 0;

                a {
                    color: var(--secColor);
                    text-decoration: none;
                    font-size: 1.2rem;
                    width: 85px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 20px;
                    transition: background-color 0.2s ease-in, color 0.2s ease-in, transform 0.3s ease-in;
                }

                a:hover {
                    border-radius: 20px;
                    background-color: var(--midColor);
                    color: var(--mainColor);
                }

                .active {
                    background-color: var(--midColor);
                    color: var(--mainColor);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .Header {
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;

        .burger {
            display: flex;
        }

        .logo {
            font-size: 40px;
            margin-left: 0;
        }

        .navMenu {
            width: 100%;
            flex-direction: row;

            .desktopMenu {
                display: none;
            }

            .mobileMenu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .menuItem {
                    margin: 0.5rem 0;

                    a {
                        color: var(--secColor);
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
