

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 15px;
  background-color: var(--mainColor);
  border-radius: 20px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  font-family: var(--font);
  color: var(--secColor);
  text-align: right;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--secColor);
  }

  .contactContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .contactDetails, .contactForm {
      flex: 1;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .contactDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .detailItem {
      display: flex;
      align-items: center;

      .icon {
        font-size: 2.5rem;
        margin-left: 10px;
        color: var(--secColor);
      }

      .text {
        font-size: 1.2rem;
        color: var(--secColor);
      }
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    .icon {
      font-size: 2rem;
      color: var(--secColor);

      &:hover {
        color: #532d34;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 10px;

    h2 {
      font-size: 2rem;
    }

    .contactContent {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .contactDetails, .contactForm {
      width: 100%;
      padding: 10px;
    }

    .contactDetails .detailItem .icon {
      font-size: 2rem;
    }

    .socialLinks .icon {
      font-size: 1.5rem;
    }
  }
}
