     .items {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 30px;
         align-items: center;
         justify-content: center;
         padding: 50px;
     }


     @media (max-width: 768px) {

        .items {

            padding: 0;
        }
     }