@import '/app/mixins.scss';

.sideBar {
  background-color: var(--grayColor);
  color: var(--darkGrayColor);
  width: 100%;
  height: 60px;
  border-radius: 20px;
  text-align: right;
  padding: 10px;
  font-family: var(--font);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .burgerButton {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--darkGrayColor);
    padding: 10px;

    &:hover {
      color: var(--darkGrayColor);
    }
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;

    .categories {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .category {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        border-radius: 15px;

        &:hover {
          background-color: rgb(194, 194, 194);
        }
      }
    }
  }

  .categoriesDesktop {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .category {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      border-radius: 15px;
      flex-shrink: 0;

      &:hover {
        background-color: rgb(194, 194, 194);
      }
    }
  }
}

@media (max-width: 900px) {
  .sideBar {
    height: auto;

    .burgerButton {
      display: block;
      color: var(--darkGrayColor);
    }

    .menu {
      display: none;

      &.open {
        display: flex;
        color: var(--darkGrayColor);

      }
    }

    .categoriesDesktop {
      display: none;
    }
  }
}