.blog {
    display: flex;
    flex-direction: column;
  
    .content {
      flex: 1;
      padding: 10px;
      text-align: center;
  
      h2 {
        margin-bottom: 20px;
        color: var(--secColor);
      }
  
      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
    }
  }
  