@import '/app/mixins.scss';

.about {
  p {
    margin-bottom: 20px;
  }

  .topProducts {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
    }

    .text{
      padding: 50px;
      width: 70%;
      font-size: 16px;
      font-weight: 300;
      color: var(--text-color);
      background-color: white;
      border-radius: 20px;
      @include shadow;
    }
  }

  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about {
    .top {
      justify-content: center;
    }

    .topProducts {
      flex-direction: column;
      padding: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;

      .sideTitle {
        justify-content: center;
        padding: 10px;
      }

      .text {
        padding: 20px;
        width: 100%;
      }

      .products {
        flex-direction: column;
        gap: 10px;
      }
    }

    .image {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
