@import '/app/mixins.scss';

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about {
  p {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
  }

  .topProducts {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;
    animation: fadeInUp 1.2s ease;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
      animation: fadeInLeft 1.2s ease;
    }

    .text {
      padding: 50px;
      width: 70%;
      font-size: 16px;
      font-weight: 300;
      color: var(--text-color);
      background-color: white;
      border-radius: 20px;
      @include shadow;
      animation: fadeInRight 1.4s ease;
    }
  }

  .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
  }
}

@media (max-width: 768px) {
  .about {
    .top {
      justify-content: center;
    }

    .topProducts {
      flex-direction: column;
      padding: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;

      .sideTitle {
        justify-content: center;
        padding: 10px;
        animation: fadeInUp 1.2s ease;
      }

      .text {
        padding: 20px;
        width: 100%;
        animation: fadeInUp 1.4s ease;
      }
    }

    .image {
      width: 100%;
      margin-bottom: 10px;
      animation: fadeInUp 1s ease;
    }
  }
}
