.item {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(157, 150, 150, 0.699);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 350px;
  height: 220px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .productName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }

  .description {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }

  .category,
  .price,
  .stock,
  .colors,
  .flavors,
  .createdAt {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
  }
}