.input {
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 15px;
//    width: 100%;

box-shadow: 20px 20px 60px #e7e7e7,
-20px -20px 60px #ffffff;
transition: 0.4s;

&:focus {
        font-size: 20px;
        outline: none;
        outline-color: #f7f7f7;
         background: #f0f0f0;
        box-shadow: inset 20px 20px 60px #eeeeee,
            inset -20px -20px 60px #ffffff;
        transition: 0.5s;
    }
}