@import 'mixins.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-bottom: 50px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .headTitle {
      display: flex;
      width: 60%;
      flex-direction: column;
      gap: 20px;
      @include title;
      padding: 50px;

      .btn button {
        border: none;
        background-color: var(--midColor);
        color: var(--mainColor);
        padding: 10px 40px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 16px;
        @include shadow;

        &:hover {
          cursor: pointer;
          background-color: var(--secColor);
          box-shadow: none;
        }
      }

      .subtext {
        font-size: 20px;
        color: var(--midColor);
      }
    }

    .image {
      width: 40%;

      img {
        height: 60vh;
        width: 100%;
        background-color: var(--midColor);
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }

  .about {
    padding: 50px;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .topProducts {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
    }

    .products {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  .title {
    @include subtitle;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
  }

  .testimonialContainer {
    padding: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
    }
  }

  .formContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 0;
    gap: 30px;

    .top {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding: 0px;

      .headTitle {
        width: 100%;
        padding: 0;
      }

      .image {
        width: 100%;

        img {
          height: 40vh;
          width: 100%;
        }
      }
    }

    .topProducts {
      flex-direction: column;
      align-items: center;

      .sideTitle {
        justify-content: center;
        padding: 10px;
      }

      .products {
        flex-direction: column;
        gap: 20px;
      }
    }

    .title {
      justify-content: center;
      padding: 10px;
    }

    .testimonialContainer {
      flex-direction: column;
      padding: 20px;

      .sideTitle {
        justify-content: center;
        padding: 10px;
        order: -1;
      }

      .testimonial {
        order: 1;
      }
    }
  }
}
