@import 'mixins.scss';

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-bottom: 50px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: fadeInUp 1s ease;

    .headTitle {
      display: flex;
      width: 60%;
      flex-direction: column;
      gap: 20px;
      @include title;
      padding: 50px;
      animation: fadeInRight 1s ease;

      .btn button {
        border: none;
        background-color: var(--midColor);
        color: var(--mainColor);
        padding: 10px 40px;
        border-radius: 15px;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      
        &:hover {
          cursor: pointer;
          box-shadow: none;
          background-color: transparent;
          outline: 1.5px solid var(--midColor);
          color: var(--midColor);
        }
      
        &:active {
          transform: scale(0.95);
        }
      }
      

      .subtext {
        font-size: 20px;
        color: var(--text-color);
      }
    }

    .image {
      width: 40%;
      animation: fadeInLeft 1s ease;

      img {
        height: 60vh;
        width: 100%;
        background-color: var(--midColor);
        border-radius: 20px;
        object-fit: cover;
      }
    }

    .mobileImage {
      display: none;
      width: 100%;
      animation: fadeInLeft 1s ease;

      img {
        width: calc(100vw - 50px);
        height: 35vh;
        object-fit: cover;
        background-color: var(--midColor);
        border-radius: 20px;
      }
    }
  }

  .topProducts {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;
    animation: fadeInUp 1.2s ease;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
    }

    .products {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  .title {
    @include subtitle;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    animation: fadeInRight 1.4s ease;
  }

  .testimonialContainer {
    padding: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: fadeInLeft 1.6s ease;

    .sideTitle {
      @include subtitle;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 20px;
    }
  }

  .formContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 20px;
    gap: 30px;

    .top {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding: 0;

      .headTitle {
        width: 100%;
        padding: 0;
        animation: fadeInUp 1s ease;
      }

      .image {
        display: none;
      }

      .mobileImage {
        display: block;
        animation: fadeInUp 1s ease;

        img {
          width: calc(100vw - 50px);
          height: 35vh;
          object-fit: cover;
          background-color: var(--midColor);
          border-radius: 20px;
        }
      }
    }

    .topProducts {
      flex-direction: column;
      align-items: center;
      animation: fadeInUp 1.2s ease;
      width: 100%;
      .sideTitle {
        justify-content: center;
        padding: 10px;
      }

      .products {
        flex-direction: column;
        gap: 20px;
      }
    }

    .title {
      justify-content: center;
      padding: 10px;
      animation: fadeInUp 1.4s ease;
    }

    .testimonialContainer {
      flex-direction: column;
      padding: 20px;
      animation: fadeInUp 1.6s ease;

      .sideTitle {
        justify-content: center;
        padding: 10px;
        order: -1;
      }

      .testimonial {
        order: 1;
      }
    }
  }

  @media (min-width: 769px) {
    .mobileImage {
      display: none;
    }

    .image {
      display: block;
    }
  }
}
