.ItemPage {
  padding: 50px;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  animation: fadeIn 0.5s ease;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    justify-content: start;

.details{
  width: 80%;
  font-weight: 100;
  color: var(--darkGrayColor);
}
    .additionalInfo {
      background-color: var(--grayColor);
      color: var(--darkGrayColor);
      width: 100%;
      border-radius: 20px;
      text-align: right;
      padding: 20px;
      font-family: var(--font);
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;

      .infoItem {
        font-size: 18px;
      }

      .price {
        font-size: 25px;
        font-weight: 500;
        color: var(--secColor);
      }


      .colorCircle,
      .colorCircle2 {
        border-radius: 50%;
        width: 20px;
        /* הוסף רוחב */
        height: 20px;
        background-color: #ff5588;
      }
    }

    .name {
      font-size: 40px;
      font-weight: 500;
      color: var(--secColor);
    }

  }

  .leftSide {

    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
      width: 350px;
      height: 300px;
      object-fit: fill;
      border-radius: 15px;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    }

    .pic2 img {
      width: 100px;
      height: 100px;
    }

  }



  .orderButton {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color:var(--secColor);
    color: var(--mainColor);
    border: none;
    border-radius: 8px; // קצוות עגולים יותר
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    // הוספת צל לכפתור
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
filter: brightness(120%);
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); // צל עמוק יותר בהובר
    }

    &:active {
      filter: brightness(120%);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // צל רך יותר בלחיצה
    }
  }
}