@import '/app/mixins.scss';

.formWrapper {
  width: 100%;
  background-color: var(--mainColor);
  border-radius: 20px;
  padding: 50px;
  font-family: var(--font);
  direction: rtl;

  .formHeader {
    h3 {
      @include subtitle;
      display: flex;
      justify-content: right;
      padding: 20px;
    }
  }

  .feedback {
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    
    &.success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }
    
    &.error {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
    }
  }

  .form {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    @include shadow;

    .formSection {
      margin-bottom: 30px;
      
      h4 {
        margin-bottom: 15px;
        font-weight: 600;
      }
    }

    .formGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    .formField {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 8px;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--mainColor);
        border-radius: 10px;
        font-family: var(--font);
        text-align: right;
      }

      textarea {
        height: 50px;
        resize: none;
      }
    }

    .formActions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .submitButton {
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: var(--secColor);
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: var(--font);

      &:hover {
        background-color: #532d34;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
        
        &:hover {
          background-color: var(--secColor);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .formWrapper {
    padding: 20px;
  }
}