.item {
    height: 300px;
    aspect-ratio: 2/3;
    border-radius: 15px;
    box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.5);
    padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
    &:hover {
        filter: brightness(80%);
        cursor: pointer;
    }

    img {
        object-fit: fill;
        width: 100%;
        border-radius: 15px;
    }

    .productName {
        font-size: 18px;
    }

}