.gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
  
    .mainImage {
      img {
        width: 350px;
        height: 300px;
        object-fit: fill;
        border-radius: 15px;
        box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
      }
    }
  
    .thumbnails {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      .thumbnail {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 15px;
          cursor: pointer;
          transition: transform 0.2s;
  
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }