

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mainColor);
  color: var(--secColor);
  padding: 20px;
  text-align: right;
  gap: 20px;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .column {
    flex: 1;
    min-width: 200px;
    // margin: 10px;
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 10px;
}

.link {
  display: block;
  text-decoration: none;
  font-size: larger;
  font-weight: 800;
  color: var(--secColor);
  font-size: 14px;
  font-weight: 400;


  &.active {
    font-weight: 900;
    color: #b75b5b;
  }

  &.noActive:hover {
    color: #b75b5b;
  }
}

.socialIcons {
  display: flex;
  gap: 15px;

}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--secColor);
  border-radius: 50%;
  &:hover {
    font-weight: 900;
    background-color: #532d34;
  }
}

.endFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--secColor);
  height: 50px;
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 20px;

}

/* רספונסיביות */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: flex-start;
  }

  .socialIcons {
    justify-content: flex-start;
  }

  .endFooter {
    text-align: center;
    padding: 10px;
  }
}