.shop {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content {
        padding: 10px;
        text-align: center;
        justify-content: center;

    }
}

@media (max-width: 768px) {
    .shop {
        gap: 30px;
        .content {
            padding: 0;
        }
    }
}