.shop {
    display: flex;
    width: 100%;

    .content {
        padding: 10px;
        text-align: center;
        justify-content: center;
        .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            .productItem {
                // padding: 50px;
            }
        }
    }
}