@import '/app/mixins.scss';

.singlePost {
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  animation: fadeIn 0.5s ease;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #333;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {

    @include subtitle;
    font-weight: 600;
  }

  .author {
    font-size: 14px;
    color: var(--midColor);
  }

  .image {
    width: 100%;
    aspect-ratio: 3/2;
    // height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  .summary {

    font-size: 20px;
    color: var(--text-color);
    font-weight: 300;
  }
  
  .content {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    h1 { font-size: 1.8em; margin-bottom: 0.5em; color: var(--secColor); }
    h2 { font-size: 1.5em; margin-bottom: 0.5em; color: var(--secColor); }
    h3 { font-size: 1.2em; margin-bottom: 0.5em; color: var(--secColor); }
    
    ul { margin: 1em 2em; }
    li { list-style-type: disc; margin-bottom: 0.5em; }
    
    strong { 
      color: var(--text-color);
      font-weight: 600; 
    }
    
    p { margin-bottom: 1em; }
  }
}

@media (max-width: 768px) {
  .singlePost {
    padding: 20px;
    max-width: 100%;

    .title {
      font-size: 1.8rem;
    }

    .author {
      font-size: 0.9rem;
    }

    .summary {
      font-size: 1rem;
    }

    .content {
      font-size: 0.9rem;

      p {
        margin-bottom: 15px;
      }
    }
  }
}
