.believeLine {
    background-color: rgba(216, 112, 147, 0.77);
    width: 100%;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    .advantagesList {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            padding: 10px;
            align-items: center;
        }

    }
}