.believeLine{
    background-color: palevioletred;
    width: 100%;
border-radius: 50px;

text-align: center;
padding: 10px;
.advantagesList{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li{
        padding: 10px;
    }
 
}
}